/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 sept. 2014, 08:13:19
    Author     : DACUNA Jordan, SANTOS Bruno
*/
.contener
{
    background-repeat: no-repeat;
    display: compact;
	
}
.ligne
{
    width: 80%;
    height: 10em;
    margin-left: 6em;
    margin-top: 2.4em;
    text-align: center;
}
.colonnes
{
    width: 33%;
    float: left;
    text-align: center;
    
}
.ImgagePokemon
{
    width: 3em;
    height: 4em;
}

.top-buffer {
    margin: 6em;
}

.miseEnFormeSupprimer {
    margin-left:  2.5em;
    margin-right: 2.5em;
    margin-bottom: 1em;  
}
progress {    
    background-color: #20201F;
    border-radius: 20px;
    padding: 5px;
    float: right;
    width: 50%;
    height: 1.5em;
} 
